
.nav_bar a:hover {
    background-color: #ffffff;
}
        a{
text-decoration: none;
        }


h1{
    text-align: center;
}
        body{

            background: #9d9c9b;

        }



@keyframes nav {
    from {
        color: #605656;
    }
    to {
        color: #8f3636;
    }
}









