
{% extends 'main.html' %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-5">
		<h5>Clients:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Créer Un Client</a>
			<table class="table table-sm">
				<tr>
					<th>ID</th>
					<th>Clients</th>
					<th>Telephone</th>
					<th>details</th>
				</tr>
				{% for client in clients %}
				<tr>
				<th><a href="{% url 'client' client.id %}"> {{client.id}} </a></th>
				<th>{{client.Nom}}</th>
				<th>{{client.Telephone}}</th>
				<th><a class="btn btn-sl btn-info" href="{% url 'client' client.id %}"> details </a></th><th><a class="btn btn-sl btn-danger" href="{% url 'suprimer_client' client.id %}"> Suprimer </a></th>

				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Toutes les  Comamndes</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajout_commande'%}">Ajouter une Commande</a>
			<table class="table table-sm">

				<tr>
					<th>Produit</th>
					<th>client</th>
					<th>Date</th>
					<th>Status</th>
					<th>Mise à Jour</th>
					<th>Supprimer</th>


				</tr>
				{% for commande in commandes %}
				<tr>
					<th>{{commande.produit}}</th>
					<th>{{commande.client}}</th>
					<th>{{commande.date_commande}}</th>
					<th>{{commande.status}}</th>
				<th><a class="btn btn-sl btn-success" href="{% url 'modifier_commande' commande.id %}"> Modifier </a></th>
                    <th><a class="btn btn-sl btn-danger" href="{% url 'suprimer_commande' commande.id %}"> Suprimer </a></th>

				</tr>

				{% endfor %}

			</table>
		</div>
	</div>

</div>


{% endblock content%}