


{% extends 'main.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Voulez-vous supprimer ce client</p>
            <form action="{% url 'suprimer_client' item.id %}" method="post">
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'accueil' %}">Annuler</a>
                <input class="btn btn-danger" type="submit" value="Confirmer">
            </form>
        </div>
    </div>
</div>
{% endblock %}


